@include keyframes(conveyer-left) {
  100% {
    margin-left: -3000px;
  }
}

@include keyframes(conveyer-right) {
  to {
    margin-left: -2000px;
  }
}

ul.heads {
  li {
    display: inline-block;

    img {
      zoom: 0.45;
    }
  }

  .media & {
    @include animation(conveyer-left 12s linear infinite);
    height: 120px;
    position: relative;
    margin-left: 200px;

    li {
      position: absolute;

      @for $i from 1 through 59 {
        $width: image-width("heads/#{$i}.png");

        &.head-#{$i} {
          left: $i * $width/2;
        }
      }

      img {
        @include transform(scaleX(-1));
        @include filter(FlipH);
      }
    }
  }

  .data-center & {
    position: absolute;
    width: 6000px;
    margin-left: -5000px;
    @include animation(conveyer-right 4s linear 1);
    @include animation-fill-mode(forwards);

    @for $i from 1 through 20 {
      &.row-#{$i} {
        @include animation-delay(#{$i*2}s);
        bottom: $i * 80px;
      }
    }

    li {
      margin: -30px 0 0 -20px
    }
  }
}
