body {
  position: relative;
  height: 100%;
  width: 100%;

  section.office {
    width: 700px;
    margin: 130px auto;

    section.media {
      position: absolute;
      overflow: hidden;
      display: block;
      width: 347px;
      top: 37px;
      margin-left: 143px;
      height: 105px;
    }
  }
}
