@include keyframes(fade-out) {
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  section.office {
    width: 700px;
    margin: 130px auto;

    @include animation(fade-out 4s ease-in);
    @include animation-fill-mode(forwards);
    @include animation-iteration-count(1);
    @include animation-delay(9s);

    section.media {
      position: absolute;
      overflow: hidden;
      display: block;
      width: 347px;
      top: 37px;
      margin-left: 143px;
      height: 105px;
    }
  }

  section.data-center {
    position: absolute;
    bottom: -500px;
  }
}
